<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Summary Reporting</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/svg4everybody@2.1.9/dist/svg4everybody.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@nswdoe/app-icons/essentialColours.css">
    <script src="https://cdn.jsdelivr.net/npm/@nswdoe/app-icons/essentialIconsMap.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but doe-ui-template doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- load app icons onto the page -->
    <script src="./sprite.js"></script>
  </body>
</html>
