<template>
  <h3 class="subheading font-weight-regular mt-4">
    please join our slack
    <img
      src="./images/slack-logo.png"
      style="width: 20px; height: 20px;"
    >
    channel
    <a href="slack://channel?team=TB2FG5R3J&id=CPNHUS8FQ">
      <span style="font-style: italic; font-weight: bold">#ask-ads-app-design-system</span>
    </a>
  </h3>
</template>

<script>
export default {
  name: 'SlackChannel'
}
</script>

<style lang="scss" scoped>

</style>
