<template>
  <v-container
    fluid
    class="mt-12"
  >
    <AdsChart
      title="Numbers tracker"
      type="bar"
      :height="350"
      :series="barData"
      :horizontalValue="true"
      :segColors="barColors"
      :segType="segType"
      :xlabel="false"
      :dataLabelColor="dataLabels"
      :targetText="`Target: 130`"
      :targetPosition="10"
    />
    <AdsChart
      title="Comparison per round"
      type="bar"
      :height="500"
      :series="columnData"
      :horizontalValue="false"
      :segColors="columnColors"
      :reversedY="false"
      :xcategories="categories"
    />
  </v-container>
</template>

<script>
import { AdsChart }  from '@/doe-ui-core/src/AdsChart'
export default {
  name: 'Charts',
  components: {
  AdsChart
  },
  data(){
    return {
    segType: ['image'],
     dataLabels: ['#000','#000','#000','#fff','#fff','#fff','#fff'],
      barColors: ['#555555',
          '#E4E4E6',
          '#F3B8B6',
          '#407EC9',
          '#041E42',
          '#00A908'],
          columnColors: ['#041E42', '#407EC9'],
    categories: [
            ['ROUND 1', '11 May - 29 May'],
            ['ROUND 2', '11 June - 25 June'],
            ['ROUND 3', '24 July - 7 August'],
            ['ROUND 4', '-']
          ],
      barData: [
        {
          name: 'Buffer',
          data: [75]
        },
        {
          name: 'Remaining spots',
          data: [75]
        },
        {
          name: 'Walkups',
          data: [75]
        },
        {
          name: 'Shortlisted',
          data: [70]
        },
        {
          name: 'Offers made',
          data: [75]
        },
        {
          name: 'Submitted',
          data: [20]
        }
      ],
      columnData: [
        {
          name: 'Local',
          data: [86, 25, 22, 15]
        },
        {
          name: 'Out-of-area',
          data: [19, 15, 15, 0]
        }
      ],
  }
}
}
</script>


