<template>
  <v-app :class="{ mobile: $vuetify.breakpoint.xsOnly }">
    <AppBar
      color="primary"
      appName="my-nsw-gov"
      title="Apexcharts"
      :showFullScreen="true"
      
      :enableHomeLink="false"
    >
      <template v-slot:appIcon>
        <AppIcon
          appName="my-nsw-gov"
          :transparent="true"
          size="50px"
          class="mt-2"
        />
      </template>
    </AppBar>

    <v-main>
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </v-main>

    <!-- App-wide component -->
    <BlockUI v-if="$store.getters.isLoading" />
  </v-app>
</template>

<script>
import {
  AppBar,  
  AppIcon,
  BlockUI,
} from '@nswdoe/doe-ui-core';


export default {
  name: 'App',
  components: {
    BlockUI,
    AppBar,
    AppIcon,
  },
  mounted() {
    // Auto set light/dark theme based on the current Operating System's theme setting
    if (!this.$store.getters['moduleEssentials/myEssentialsApps'].length) {
      this.$store.dispatch('moduleEssentials/fetchMyEssentialsApps');
    }
  },
  data() {
    return {
     
    };
  },
};
</script>

<style lang="scss">
// use pre-defined ADS scss classes for the whole project, note here the styles are non-scoped in App.vue
@import "./scss/ads";

// example of overriding classes in `ads.scss`
.theme--light {
  // override the pre-defined scss classes for <a> in ads.scss as per the design for this project
  /*  a:not(.v-btn, .v-tab) {
      color: $ads-blue-1;

      &:visited {
        color: $ads-blue-1;
      }
    }*/
}

.container {
  padding: 12px 30px;

  .container {
    padding: 0;
  }
}

.mobile {
  .container {
    padding: 12px 4px;
  }
}
</style>
